.player {
    --play-color: #3c508f;
    --play-banner-color: #707fad;
    --transition-duration: .3s;
    border-radius: 40px;
    width: auto;
    display: inline-flex;
    background-color: var(--background, #fff);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.music {
    align-items: center;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.music-info {
    align-items: center;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    border-radius: 40px;
}

.music:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, var(--play-banner-color), var(--play-banner-color)),
    linear-gradient(to right, var(--play-color), var(--play-color));
    background-size: 42px 42px, 100% 42px;
    background-position: left center, 41px center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity var(--transition-duration) linear;
    z-index: -1;
    pointer-events: none;
}

.music:after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-image: url(@/assets/music/play-light.png), linear-gradient(to right, var(--play-color), var(--play-color));
    background-repeat: no-repeat no-repeat;
    background-size: 18px 18px, 100% 100%;
    background-position: center center, center center;
    opacity: 0;
    transition: opacity var(--transition-duration) linear;
    pointer-events: none;
}

.player:hover .music:after {
    opacity: 1;
}


.music-banner {
    padding: 7px;
}

.music-banner img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    font-size: 0;
    border-radius: 50%;
    min-width: 28px;
    transition: box-shadow var(--transition-duration) linear;
    animation: playRotate 8s infinite linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.music-name {
    font-size: 13px;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    color: var(--foreground, #333);
    transition: all var(--transition-duration) linear;
    padding-right: 14px;
    height: 13px;
    display: flex;
    align-items: center;
}

.music-controller {
    display: inline-flex;
    width: 0;
    height: 100%;
    transition: width var(--transition-duration) linear;
    position: relative;
    overflow: hidden;
}

.music-controller-actions {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7px;
    padding-left: 14px;
    background-image: linear-gradient(to right, transparent, var(--play-color), var(--play-color), var(--play-color));
    opacity: 0;
    width: 96px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 4;
}

.play .music-controller-actions {
    transition: opacity var(--transition-duration) linear;
}

.play .music-controller:hover .music-controller-actions {
    opacity: 1;
}

.music-controller-word {
    position: absolute;
    width: 100%;
    padding-right: 24px;
    padding-left: 7px;
    left: 0;
    top: 0;
    z-index: 3;
}

.music-controller-actions span + span {
    margin-left: 4px;
}

.play .music:before {
    opacity: 1;
}

.play .music-controller {
    width: 180px;
}

.play .music-name {
    color: #fff;
    padding-left: 7px;
    padding-right: 7px;
}

.player.play .music:after {
    opacity: 0;
}

@keyframes playRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.player.play .music-banner img {
    box-shadow: 0 0 6px #fff;
    animation-play-state: running;
}